// Common variables
// colors
$body-color: lighten(#989898, 30%);
$primary-color: initial; // default: lightblue
$secondary-color: initial; // default: coral
$keyboard-color: initial; // default: lightgreen
$keyboard-text-color: #B90303;
$keyboard-bg-color: #131313;

// sizes
$base-width: 1400px;
$base-paddings: 40px;
$media-width: $base-width - 435px;

// media-sizes
$media-small: 1399px;
$media-big: 1400px;

// fonts
$font-family: "1979", sans-serif;
$base-font-size: 10px;
$letter-spacing: -1px;

// border
$border-radius: 5px;

// keys margins
$base-row-margins: 5px; // size of base margin
$row-letters: k, e, d, c, b; // which rows must be margined
$positions-list: 16, 14, 14, 13, 13; // exact indexes of elements before numpad
