@font-face {
  font: {
    family: "1979";
    style: normal;
    weight: 400;
    display: block;
  }
  src:  url("../assets/fonts/1979.eot"); /* IE 9 Compatibility Mode */
  src:  local("1979"),
        /* IE < 9 */
        url("../assets/fonts/1979.eot?#iefix") format("embedded-opentype"),
        /* Super Modern Browsers */
        url("../assets/fonts/1979.woff2") format("woff2"),
        /* Firefox >= 3.6, any other modern browser */
        url("../assets/fonts/1979.woff") format("woff"),
        /* Safari, Android, iOS */
        url("../assets/fonts/1979.ttf") format("truetype"),
        /* Chrome < 4, Legacy iOS */
        url("../assets/fonts/1979.svg#a979") format("svg");
}